$white: #ffffff;
$black: #000000;
$red: #E31231;
$red-hover: #f13653;
$gold: #FFE5A0;
$brown: #64562A;
$footer-grey: #8B8B8B;
$input-grey: #9F9F9F;
$background-grey: rgba(139, 139, 139, 0.2);
$round-grey: rgba(220, 220, 220, 0.3);
$round-grey-2: #999999;
$round-grey-3: rgba(180, 180, 180, 0.3);
$round-red: #E31231;
$round-bg: #4A4A4A;
$round-blue: #4673FF;
$round-green: #46FF73;

// Display dimensions
$hd: 1920px;
$desktop: 1440px;
$small-desktop: 1024px;
$tablet: 768px;
$mobile: 480px;
